@media (max-width: 425px) {
  header button {
    width: 100% !important;
    padding: unset !important;
    height: 47px !important;
  }

  h2 {
    font-size: 36px;
    line-height: 120%;
  }
  h3 {
    font-size: 28px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }

  .table.mobile {
    display: flex !important;
  }
  img {
    width: 335px !important;
    height: auto !important;
  }
  p.mihelson {
    padding-left: 0;
  }
  #support {
    margin-top: 0px;
    margin-bottom: 0;
  }

  #support > div {
    margin-top: 48px;
    margin-bottom: 34px;
  }

  .content-wrap {
    max-width: 335px;
  }

  .carousel-buttons.mobile {
    display: flex !important;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
  }

  #members .header-row {
    margin-bottom: 40px;
  }

  .logo img {
    width: 80px !important;
  }

  .logo span {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
    line-height: 110%;
  }

  header {
    padding: 20px;
  }

  p.subheader {
    text-align: left;
    margin-bottom: 32px;
  }

  footer {
    line-height: 120%;
    padding: 40px 20px 60px 20px;
  }

  .stage-grid.mobile {
    display: flex;
    margin-top: 148px;
  }
  img.plane.mobile {
    top: -120px;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  #stages .card {
    padding: 34px 24px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 62px;
  }

  #stages .block {
    width: 100%;
    display: flex;
    column-gap: 16px;
  }

  div.text {
    width: 100%;
  }

  #stages .subheader {
    margin-left: 0;
    display: block;
    margin-top: 12px;
    width: auto;
    position: initial;
  }

  #stages h2 {
    width: auto;
  }

  .carousel.stages {
    margin-top: 150px;
  }

  header .content-wrap {
    max-width: 100%;
    padding: 0;
  }

  .logo {
    margin-bottom: 40px;
  }

  header {
    background-size: 290%;
    background-position-y: bottom;
    background-position-x: 75%;
    height: unset;
    /* box-sizing: border-box; */
  }

  header .row {
    margin-bottom: 290px;
  }

  section.running-line-wrap {
    font-size: 16px;
    padding: 10px 0;
    height: fit-content;
  }

  #stages .content-wrap {
    overflow: hidden;
  }
}

@media (max-width: 320px) {
  .content-wrap {
    max-width: 285px !important;
  }
  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 32px;
  }
}
