/* Google Web Fonts */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /* <uniquifier>: Use a unique and descriptive class name
                <weight>: Use a value from 400 to 900 */
  
  .golos-text-regular {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  
  /* Main */
  
  body {
    color: #313131;
    background-color: #ffffff;
    margin: 0;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
  }
  
  section > div,
  footer > div,
  header > div {
    max-width: 1222px;
    margin: auto;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 110%;
  }
  
  h2 {
    font-size: 54px;
    line-height: 135%;
  }
  
  .subheader {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  
  section.header {
    background-color: #e9ded4;
    background-image: url("img/header-pic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, auto;
    height: 700px;
    padding-top: 26px;
    padding-left: 72px;
    position: relative;
    margin: 0;
  }
  
  .noise-overlay,
  .overlay-wrap::before,
  section.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/noise.png");
    background-repeat: repeat;
    background-position: 0px 0px;
    display: block;
    /* background-size: cover; */
    mix-blend-mode: color-burn; /* Применяет color-burn только к noise.png */
    pointer-events: none; /* Чтобы не блокировать взаимодействие с содержимым */
    z-index: 1; /* Чтобы псевдоэлемент находился выше других фонов */
    max-width: none;
  }
  
  .seans img {
    position: relative;
    width: 474px;
    height: 527px;
    scale: 110%;
    top: 24px;
  }
  
  .overlay-wrap {
    position: relative;
    box-sizing: border-box;
  }
  
  .header .content {
    width: 542px;
  }
  
  .content h1 {
    margin: 0;
  }
  
  .logo span {
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    font-size: 16.65px;
    line-height: 108%;
    color: #595653;
    text-transform: uppercase;
  }
  .logo {
    display: flex;
    gap: 6px;
    margin-bottom: 62px;
    z-index: 100;
    position: relative;
  }
  
  button {
    padding: 20px;
    border-radius: 66px;
    color: white;
    background: black;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 100;
    width: fit-content;
  }
  
  button:hover {
    background: #fbce51;
    color: #1f1f1f;
  }
  
  button.chameleon {
    color: black;
    background: none;
    border: 2px solid #1f1f1f;
  }
  
  button.chameleon:hover {
    background: #1f1f1f;
    color: white;
  }
  
  .row {
    display: flex;
  }
  
  .bullet {
    background: white;
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  
  section.running-line-wrap {
    background: #f54932;
    color: white;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    padding: 12px;
    gap: 12px;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
  }
  
  .running-line {
    display: flex;
    max-width: none;
    flex-wrap: nowrap; /* Запрещает перенос элементов на новую строку */
    /* overflow-x: visible; Добавляет горизонтальную прокрутку при переполнении */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    align-items: center;
  }
  
  .running-line-wrap span,
  .running-line-wrap .bullet {
    flex: 0 0 auto; /* Элементы не будут растягиваться или сжиматься */
    margin-right: 12px; /* Пример отступа между элементами */
  }
  
  /* Скрываем каретку скролла для WebKit */
  #running-line::-webkit-scrollbar {
    display: none;
  }
  
  /* Скрываем каретку скролла для других браузеров */
  #running-line {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  section.support > div {
    display: flex;
    gap: 64px;
    margin-top: 80px;
    margin-bottom: 64px;
  }
  
  .support h2 {
    /* max-width: 764px; */
  }
  
  span.red {
    color: #f54932;
    font-weight: bold;
  }
  
  section.seans > div {
    display: flex;
    gap: 44px;
  }
  
  /* Таблица */
  
  td {
    padding: 16px;
    border-bottom: 2px solid #d0d0d0;
  }
  
  /* Стили для первой ячейки в каждой строке */
  tbody td:nth-child(1) {
    opacity: 0.7; /* Полупрозрачность 70% */
    border-right: 2px solid #d0d0d0;
  }
  
  /* Стили для второй ячейки в каждой строке */
  tbody td:nth-child(2) {
    font-weight: bold; /* Жирный шрифт */
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Объединяет границы ячеек в одну линию */
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  span.crossed {
    position: relative; /* Для абсолютного позиционирования псевдоэлемента */
    display: inline-block; /* Необходим для установки размеров и позиционирования псевдоэлемента */
  }
  
  span.crossed::after {
    content: ""; /* Необходимо для создания псевдоэлемента */
    position: absolute;
    left: 0;
    bottom: 34%; /* Позиционирует линию по центру высоты текста */
    width: 100%;
    height: 2px; /* Толщина линии */
    background-color: #f54932; /* Цвет линии */
    border-radius: 2px; /* Скругление краёв линии */
  }
  
  .stage {
    /* width: 394px; */
    /* height: 112px; */
    padding: 20px;
    background: url(img/paper.jpg);
    background-position: var(--background-position);
    font-weight: 600;
    display: flex;
    gap: 16px;
    /* box-sizing: border-box; */
    flex-shrink: 0;
    flex-wrap: nowrap;
    position: relative;
  }
  
  section:last-of-type {
    /* margin-bottom: 240px; */
  }
  
  .number {
    width: 36px;
    height: 36px;
    border-radius: 60px;
    background: white;
    text-align: center;
    line-height: 160%;
    flex-shrink: 0;
  }
  
  .stage-grid {
    /* display: flex; */
    gap: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 394px 394px 394px;
    grid-template-rows: 112px 112px 136px;
  }
  
  section {
    margin: 100px 0;
    /* margin-top: 80px; */
    /* margin-bottom: 64px; */
  }
  
  section.support {
    margin-top: 80px;
    margin-bottom: 64px;
  }
  
  section.seans {
    margin-top: 0;
  }
  
  h3 {
    font-size: 36px;
    line-height: 135%;
  }
  
  button.about {
    background: none;
    color: #3057a2;
    border: 1px solid #3057a2;
    padding: 12px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 24px;
    line-height: 120%;
  }
  
  .member p {
    opacity: 60%;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .member h4 {
    margin-top: 28px;
    margin-bottom: 6px;
    text-align: center;
  }
  
  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 394px;
  }
  
  .members .header-row {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  
  button.about:hover {
    background: #3057a2;
    color: white;
  }
  
  .members .header-row h2 {
    margin: 0;
  }
  
  button.carousel-button {
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 32px;
    font-weight: 100;
  }
  
  .members .position {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 3px;
  }
  
  .carousel-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  
  footer {
    background: #e9ded4;
    margin: 0;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    color: #313131;
    padding: 40px 72px 72px 72px;
  }
  
  footer p {
    opacity: 60%;
  }
  
  section.members {
    margin-bottom: 140px;
  }
  
  .running-line {
    animation: text 8s infinite linear;
    padding-left: 100%;
    /* white-space: nowrap; */
  }
  
  @keyframes text {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(-150%, 0);
    }
  }
  
  /* Анимация */
  
  :root {
    --background-position: 0px 0px;
  }
  
  .noise-overlay,
  .overlay-wrap::before,
  section.header::before {
    background-position: var(
      --background-position); /* Начальное положение фона */
    display: block; /* Для ::before псевдоэлементов */
  }
  
  