@media (max-width: 1365px) {
  header button {
    width: 100% !important;
    padding: unset !important;
    height: 47px !important;
  }

  button.chameleon {
    background: white;
    border: none;
    opacity: 90%;
  }

  button.chameleon:hover {
    background: #fbce51;
    color: inherit;
  }
  .content-wrap {
    max-width: 90vw;
  }

  #members .carousel-buttons.desktop {
    position: unset;
  }

  .stage-grid.desktop {
    display: flex;
  }

  #support .img {
    order: -1;
  }

  .content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70vw;
  }

  .plane.desktop {
    display: none;
  }

  #stages .subheader {
    position: unset;
    text-align: left;
    font-size: 20px;
    /* margin-bottom: 3em; */
  }

  .carousel-buttons.desktop {
    order: 1;
  }

  .carousel.members.cycled {
    row-gap: 30px;
  }

  .stage {
    width: 100%;
    position: relative;
  }

  img.plane.tablet {
    position: absolute;
    right: -180px;
    top: -150px;
  }

  #stages p.subheader {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
  }

  .tablet {
    display: block;
  }

  .table .row {
    display: flex;
    flex-direction: column;
  }

  .table .row > div.gray {
    padding: 0;
    border-right: 0;
    padding-bottom: 12px;
    padding-top: 16px;
  }

  .table .row > div.bold {
    padding: 0;
    padding-bottom: 16px;
  }

  #seans p.blue {
    font-size: 18px;
    font-weight: 500;
  }

  header {
    height: fit-content;
    padding-bottom: 40px;
}











}
