h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 110%;
  margin: 0;
}

p {
  margin: 0;
}

/* Google Web Fonts */

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name
                <weight>: Use a value from 400 to 900 */

.golos-text-regular {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Main */

body {
  color: #313131;
  background-color: #ffffff;
  margin: 0;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
}

div {
  max-width: 100%;
  box-sizing: border-box;
}

.content-wrap {
  max-width: 1222px;
  margin: auto;
  overflow: hidden;
}

h2 {
  font-size: 54px;
  line-height: 135%;
}

#stages .subheader {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-top: 24px;
  margin-bottom: 37px;
}

header {
  background-color: #e9ded4;
  height: 700px;
  padding-top: 26px;
  padding-left: 72px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  
}

header .background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom:0;
  left:0;
  pointer-events: none;
}

header .background img {
  position: absolute;
}

header .background img.sun {
  left: 635px;
  bottom: -42px;
  z-index: 0;
}

header .background img.city {
  left: -32px;
  bottom: -137px;
  scale: 1.15;
  z-index: 1;
}

img.horse {
  bottom: -180px;
  right: 368px;
  z-index: 2;
  width: auto;
  animation: gravity 2s ease-in-out infinite;
}

@keyframes gravity {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px); /* Опускает элемент вниз на 100% высоты видимой области */
  }
  100% {
    transform: translateY(0); /* Опускает элемент вниз на 100% высоты видимой области */
  }
}

header .content-wrap {
  position: relative;
  overflow: visible;
}

.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Определение ключевых кадров для анимации */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Применение анимации к элементу с классом "sun" */
.sun {
  animation: rotate 10s linear infinite;
}

.noise::before,
.stage::before,
#stages .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/noise.png");
  background-repeat: repeat;
  background-position: var(--background-position);
  transition: background-position 10s linear;
  display: block;
  mix-blend-mode: color-burn; /* Применяет color-burn только к noise.png */
  pointer-events: none; /* Чтобы не блокировать взаимодействие с содержимым */
  z-index: 1; /* Чтобы псевдоэлемент находился выше других фонов */
  max-width: none;
}

#seans .img {
  /* position: relative; */
  max-width: 474px;
  /* height: 527px; */
  /* scale: 110%; */
  /* top: -3px; */
}

header .content {
  width: 542px;
  max-width: 100%;
}

.content h1 {
  margin: 0;
}

.logo span {
  font-family: "Golos Text", sans-serif;
  font-weight: bold;
  font-size: 16.65px;
  line-height: 108%;
  color: #595653;
  text-transform: uppercase;
}
.logo {
  display: flex;
  gap: 6px;
  margin-bottom: 62px;
  z-index: 100;
  position: relative;
}

button {
  padding: 20px;
  border-radius: 66px;
  color: white;
  background: black;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  border: none;
  cursor: pointer;
  z-index: 100;
  width: fit-content;
}

button:hover {
  background: #fbce51;
  color: #1f1f1f;
}

button.chameleon {
  color: black;
  background: none;
  border: 2px solid #1f1f1f;
}

button.chameleon:hover {
  background: #1f1f1f;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.bullet {
  background: white;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

section.running-line-wrap {
  background: #f54932;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  padding: 18px 12px;
  gap: 12px;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  height: 60px;
  text-transform: uppercase;
  z-index: 100;
}

.running-line {
  display: flex;
  max-width: none;
  flex-wrap: nowrap; /* Запрещает перенос элементов на новую строку */
  /* overflow-x: visible; Добавляет горизонтальную прокрутку при переполнении */
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
  align-items: center;
}

.running-line-wrap span,
.running-line-wrap .bullet {
  flex: 0 0 auto; /* Элементы не будут растягиваться или сжиматься */
  margin-right: 12px; /* Пример отступа между элементами */
}

/* Скрываем каретку скролла для WebKit */
#running-line::-webkit-scrollbar {
  display: none;
}

/* Скрываем каретку скролла для других браузеров */
#running-line {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#support > .content-wrap {
  display: flex;
  column-gap: 64px;
  row-gap: 24px;
  /* margin-top: 80px; */
  /* margin-bottom: 64px; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

span.red {
  color: #f54932;
  font-weight: bold;
}

#seans > div {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
  overflow: visible;
}

#support h3 {
  max-width: 100%;
  width: 764px;
  margin: auto 0;
}

img {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
}

#seans .content {
  max-width: 704px;
}

/* Таблица */

td {
  padding: 15px 16px;
  border-bottom: 2px solid #d0d0d0;
}

/* Стили для первой ячейки в каждой строке */
tbody td:nth-child(1) {
  color: #6f6f6f; /* Полупрозрачность 70% */
  border-right: 2px solid #d0d0d0;
  padding-left: 0;
  width: 290px;
}

/* Стили для второй ячейки в каждой строке */
tbody td:nth-child(2) {
  font-weight: bold; /* Жирный шрифт */
}

#seans table {
  width: 100%;
  border-collapse: collapse; /* Объединяет границы ячеек в одну линию */
  margin-bottom: 34px;
}

tr:last-child td {
  border-bottom: none;
}

span.crossed {
  position: relative; /* Для абсолютного позиционирования псевдоэлемента */
  display: inline-block; /* Необходим для установки размеров и позиционирования псевдоэлемента */
}

span.crossed::after {
  content: ""; /* Необходимо для создания псевдоэлемента */
  position: absolute;
  left: 0;
  bottom: 34%; /* Позиционирует линию по центру высоты текста */
  width: 100%;
  height: 2px; /* Толщина линии */
  background-color: #f54932; /* Цвет линии */
  border-radius: 2px; /* Скругление краёв линии */
}

#stages .card,
.stage {
  /* width: 394px; */
  /* height: 112px; */
  padding: 20px;
  background: url(img/paper.jpg);
  background-position: var(--background-position);
  font-weight: 600;
  display: flex;
  gap: 16px;
  /* box-sizing: border-box; */
  flex-shrink: 0;
  flex-wrap: nowrap;
  position: relative;
}

.number {
  width: 36px;
  height: 36px;
  border-radius: 60px;
  background: white;
  text-align: center;
  line-height: 160%;
  flex-shrink: 0;
}

.stage-grid {
  /* display: flex; */
  gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 394px 394px 394px;
  grid-template-rows: 112px 112px 136px;
  /* margin-top: -32px; */
}

#support {
  margin-top: 80px;
  margin-bottom: 64px;
}

#seans {
  /* margin-top: 0; */
  margin-bottom: 200px;
}

h3 {
  font-size: 36px;
  line-height: 135%;
}

/* Карусель */

button.about {
  background: none;
  color: #3057a2;
  border: 1px solid #3057a2;
  padding: 5px 13px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: 120%;
}

.card p {
  opacity: 60%;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.card h4 {
  margin-top: 28px;
  margin-bottom: 6px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 394px;
  flex-shrink: 0;
}

#members .header-row {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  flex-wrap: wrap;
}

.carousel {
  display: flex;
  column-gap: 20px;
  /* overflow: hidden; */
  flex-direction: column;
  position: relative;
  /* margin-bottom: 60px; */
}

button.about:hover {
  background: #3057a2;
  color: white;
}

#members .header-row h2 {
  margin: 0;
}

button.carousel-button {
  width: 44px;
  height: 44px;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.carousel-button:disabled {
  background: #d6d6d6;
}

button.carousel-button:disabled:hover {
  color: white;
}

.carousel .position > .numbers {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 3px;
}

.carousel-buttons {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 14px;
  align-items: center;
}

/* Подвал */

footer {
  background: #e9ded4;
  margin: 0;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  color: #313131;
  padding: 40px 72px 72px 72px;
}

footer p {
  opacity: 60%;
  margin: 0;
  line-height: 130%;
}

#members {
  margin-bottom: 140px;
}

.running-line {
  animation: text 8s infinite linear;
  padding-left: 100%;
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Анимация */

:root {
  --background-position: 0px 0px;
}

.noise-overlay,
.overlay-wrap::before,
header::before {
  background-position: var(
    --background-position
  ); /* Начальное положение фона */
  /* display: block; */ /* Для ::before псевдоэлементов */
}

/* Адаптив */

p.mihelson {
  color: #3057a2;
  /* padding-left: 16px; */
}

section.running-line-wrap > div {
  overflow: visible;
}

img.plane.desktop {
  position: absolute;
  right: -60px;
  bottom: 0;
  z-index: 1;
}

#stages .subheader {
  color: #3057a2;
  width: 280px;
  position: relative;
  top: -84px;
  left: 302px;
  text-align: left;
}

#stages h2 {
  width: 806px;
  margin: 0;
  /* line-height: 120%; */
  max-width: 100%;
}

#seans h3 {
  margin-top: 0;
  margin-bottom: 45px;
}

html {
  scroll-behavior: smooth;
}

.carousel .row {
  transition: transform 0.5s ease; /* Плавная анимация перехода */
  flex-wrap: nowrap;
  gap: 20px;
}

/* Счётчики  */

.bullets {
  display: flex;
  gap: 6px; /* Отступ между кружками, можно настроить по необходимости */
}

.bullet {
  width: 10px; /* Ширина кружка */
  height: 10px; /* Высота кружка */
  border-radius: 50%; /* Округление до формы кружка */
  background-color: #d9d9d9; /* Цвет неактивного кружка */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета при активации */
}

/* Стили для активного кружка */
.bullet.active {
  background-color: #313131; /* Цвет активного кружка */
}

.carousel-button svg {
  width: 10px;
  height: 18px;
  flex-shrink: 0;
}

button.carousel-button.right svg {
  position: relative;
  left: 2px;
}

button.carousel-button.left svg {
  position: relative;
  right: 2px;
}

#members .carousel-buttons.desktop {
  position: absolute;
  right: 0;
  top: -120px;
}

/* Pixel Perfect */

header .content-wrap {
  max-width: 1366px;
  padding-left: 36px;
}

section#stages {
  /* margin-top: 79px; */
  margin-bottom: 200px;
}

/* Адаптив */

#stages .content-wrap {
  overflow: visible;
}

.plane.text {
  width: 450px;
}

.blue {
  color: #3057a2;
}

.tablet {
  display: none;
}

header button {
  width: 263px;
  height: 72px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noise {
  position: relative;
}

.gray,
.position.numbers {
  color: #838383;
}

.position.numbers span.current {
  color: #313131;
}

.bold {
  font-weight: 600;
}

.table {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.table .row > div {
  padding: 16px 16px 14px 0;
}

.table .row > div.bold {
  padding-left: 16px;
}

.table .gray {
  width: 306px;
  border-right: 2px solid #d0d0d0;
}

.table .row {
  border-bottom: 2px solid #d0d0d0;
}

.mobile {
  display: none !important;
}

header p.subheader {
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  margin-top: 26px;
  margin-bottom: 39px;
  z-index: 100;
  position: relative;
}

.position {
  color: #838383;
  display: flex;
  gap: 2px;
}
.position .current {
  color: #313131;
}
